body {
    font-size: 18px;

    color: #bebebe;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;

    background-image: url('http://codersdesiderata.com/tmp-images/px_by_Gre3g_@2X.png');
    background-size: 100px;
    background-attachment: fixed;
}

.old-background {
    background: #333;
    background: -webkit-linear-gradient(#333, #000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333, #000); /* Standard syntax */
}

h1 {
    margin: 20px 0 5px 0;
    font-size: 2em;
}

/* h1,
h2,
h3 {
    color: #e3e3e3;
} */

h1,
h1 + div,
h2,
h2 + div {
    text-align: center;
}

h1,
h2 {
    letter-spacing: 0.17em;
}

h2,
h3 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 15px;
    text-shadow: 0px 0px 8px #333;
}

/* a,
a:hover {
    color: #e6e6e6;
} */

#hero {
    margin-top: 50px;
    margin-bottom: 50px;
}

#hero .title {
    font-size: 1.25em;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#hero .other-links {
    text-align: center;
}

#introduction {
    background: #fff;
    color: #000;
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.9);
}

.btn-success {
    color: #000;
    font-weight: bold;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

li img {
    border: 1px solid #000;
    -webkit-filter: grayscale(5%); /* Chrome, Safari, Opera */
    filter: grayscale(5%);
    transition-duration: 1s;
}

li img:hover {
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

/**
   * FILTER MENU
   */

.filters {
    text-align: center;
    margin-bottom: 25px;
}

.filters ul {
    margin: 10px 0 10px 0;
}

.filters li {
    padding-left: 0px;
    padding-right: 0px;
    text-transform: uppercase;
    font-size: 1.125em;
    letter-spacing: 0.07em;
}

.filters li:before,
.filters li:after {
    content: '\00a0';
}

.filters li.active::before {
    content: '[';
    color: #eee;
}

.filters li.active::after {
    content: ']';
    color: #eee;
}

.filters li a {
    cursor: pointer;
    color: #ccc;
}

.filters li.active a {
    color: #fff;
}

.filters li.active a:hover {
    text-decoration: none;
    cursor: default;
}

/**
   * PORTFOLIO LIST
   */

.portfolio-list li.card {
    padding: 25px;
    margin-bottom: 30px;
    min-height: 500px;
    background: rgba(255, 255, 255, 0.9);
    color: #000;
    border-radius: 10px;
}

.card h3 {
    font-size: 1.25em;
}

/* .portfolio-list li.card,
.portfolio-list li.card a {
    color: #eee;
} */

/* .portfolio-list li.card:nth-child(odd) {
    background: rgba(10, 10, 10, 0.5);
}

.portfolio-list li.card:nth-child(even) {
    background: rgba(30, 30, 30, 0.5);
} */

/*.main-content {
      margin: 45px 0 45px 0;
      background: rgba(0,0,0,0.35);
      padding: 15px;

  }*/

.skillset-labels-container strong {
    //text-shadow: 0px 0px 8px #333;
}

.skillset-labels-container button,
.skillset-labels-container button:hover {
    cursor: default;
    background: #5cb85c;
    border-color: #4cae4c;
    color: #000;
}

.date-range {
    text-align: center;
    letter-spacing: 0.17em;
    //text-shadow: 0px 0px 8px #333;
}

.skillset-labels {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
}

.skillset-labels.technologies {
    float: left;
}

.skillset-labels.roles {
    float: right;
}

.code-snippet {
    padding: 0;
    margin: 13px 0 13px 0;
    border: 0;
}

select {
    color: #000;
    border: #000;
}

.post-image {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.post-image img {
    max-width: 100%;
    display: inline;
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.125em;
    }

    .skillset-labels strong {
        margin-bottom: 3px;
    }

    .skillset-labels li {
        margin: 3px;
    }

    #category-menu {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #category-menu li {
        font-size: 0.875em;
        letter-spacing: 0;
    }
}
